<div class="container-fixed post_list my-4">
    <f:if condition="{items}">
        <f:then>
            <div class="row">
                <f:for each="{items}" as="item" iteration="i">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <div class="img-wrapper">
                                <f:for each="{thumbnail_{i.index}}" as="img">
                                    <f:image image="{img}" alt="image" class="card-img-top" style="object-fit: cover;" />
                                </f:for>
                            </div>

                            <div class="card-body">
                                <div class="author_views">
                                    <f:if condition="{displayauthor}">
                                        <p class="card-author">{author_{i.index}}</p>
                                    </f:if>
                                    <p class="card-views">{item.viewers} views</p>
                                </div>
                                <div class="card-content">
                                    <a href="{postUrls.{item.uid}}">
                                        <h5 class="card-title">{item.title}</h5>
                                    </a>
                                    <f:format.html>
                                        <div class="card-text">
                                            {item.teaser -> f:format.trim()}
                                        </div>
                                    </f:format.html>
                                </div>
                            </div>
                            <div class="read_more">
                                <a href="{postUrls.{item.uid}}">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <p class="card-text text-center">No Items Found !! </p>
        </f:else>
    </f:if>
    <f:if condition="{items}">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center align-items-center">

                <!-- Previous page -->
                <li class="page-item">
                    <f:if condition="{previousPageParams}">
                        <f:then>
                            <f:link.page pageUid="{data.uid}" additionalParams="{previousPageParams}" class="page-link">
                                <i class="ki-duotone ki-double-left fs-6 page-link"></i>
                            </f:link.page>
                        </f:then>
                        <f:else>
                            <span class="page-link disabled"><i class="ki-duotone ki-left fs-6 page-link"></i></span>
                        </f:else>
                    </f:if>
                </li>

                <!-- Page numbers -->
                <f:for each="{pagination.allPageNumbers}" as="pageNumber">
                    <li class="page-item {f:if(condition: pageNumber == pagination.currentPage, then:'active')}">
                        <f:link.page pageUid="{data.uid}" additionalParams="{pageLinks.{pageNumber}}" class="page-link">
                            {pageNumber}
                        </f:link.page>
                    </li>
                </f:for>

                <!-- Next page -->
                <li class="page-item">
                    <f:if condition="{nextPageParams}">
                        <f:then>
                            <f:link.page pageUid="{data.uid}" additionalParams="{nextPageParams}" class="page-link"><i
                                    class="ki-duotone ki-right fs-6 page-link"></i>
                            </f:link.page>
                        </f:then>
                        <f:else>
                            <span class="page-link disabled"><i
                                    class="ki-duotone ki-double-right fs-6 page-link"></i></span>
                        </f:else>
                    </f:if>
                </li>

            </ul>
        </nav>
    </f:if>
</div>