<div class="right-sidebar-wrapper doc_rightsidebar">
    <div class="pageSideSection">
        <f:if condition="{item.celement}">
            <div class="table-of-content">
                <div class="toc-heading">
                    <i class="ki-duotone ki-menu fs-6"></i>
                    CONTENTS
                </div>
                <nav class="ezd-list-unstyled doc_menu toc_right" data-toggle="toc" id="eazydocs-toc"
                    style="max-height: calc(-221.4px + 100vh);">
                    <ul class="sidebar-ce-links nav navbar-nav">
                        <f:for each="{ceHeaders}" as="elemnt">
                            <li>
                                <a href="#c{elemnt.uid}" class="item-link nav-link">{elemnt.header}</a>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </div>
        </f:if>
    </div>
</div>