<div class="right-sidebar-wrapper doc_rightsidebar">
    <div class="pageSideSection">
        <!-- <a href="#" class="ezd-share-btn modal-toggle" data-id="2">
            <i class="social_share_square"></i>
            Share this Doc
        </a> -->

        <div id="font-switcher" class="d-flex justify-content-between align-items-center gap-5">
            <div id="rvfs-controllers" class="fontsize-controllers group">
                <div class="btn-group">
                    <button id="switcher-small" class="rvfs-decrease" title="Decrease font size">
                        A- </button>
                    <button id="switcher-default" class="rvfs-reset" title="Default font size">
                        A </button>
                    <button id="switcher-large" class="rvfs-increase" title="Increase font size">
                        A+ </button>
                </div>
            </div>
            <a href="#" class="print">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer"
                    viewBox="0 0 16 16">
                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"></path>
                    <path
                        d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1">
                    </path>
                </svg>
            </a>
        </div>
        <f:if condition="{item.celement}">
            <div class="table-of-content">
                <div class="toc-heading">
                    <i class="icon_ul"></i> CONTENTS
                </div>
                <nav class="ezd-list-unstyled doc_menu toc_right" data-toggle="toc" id="eazydocs-toc"
                    style="max-height: calc(-221.4px + 100vh);">
                    <ul class="sidebar-ce-links nav navbar-nav">
                        <f:for each="{ceHeaders}" as="elemnt">
                            <li>
                                <a href="#c{elemnt.uid}" class="item-link nav-link">{elemnt.header}</a>
                            </li>
                        </f:for>
                    </ul>
                </nav>
            </div>
        </f:if>
    </div>
</div>