<section id="search-widget">

    <form action="#" class="header_search_form" id="searchform" name="searchform">
        <div class="header_search_form_info">
            <div class="form-group">
                <div class="input-wrapper">
                    <i class="ki-duotone ki-magnifier icon_search"></i>
                    <input type='search' id="searchInput" autocomplete="off" name="search"
                        placeholder="Search for Topics..." />
                    <i id="searchClear" class="ki-duotone ki-cross icon_close" style="display: none;left:93%;"></i>
                </div>
            </div>
            <div class="search-results" id="search-result" style="display: none;">
            </div>
        </div>
        <div class="header_search_keyword mt-4" id="header_search_keyword">
            <span class="header-search-form__keywords-label">Popular</span>
            <ul class="list-unstyled">

            </ul>
        </div>
    </form>
</section>
